extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid") 
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vestibulum at mi gravida cursus. Donec vitae libero dapibus, lacinia augue at, sagittis magna. In elementum nibh ut felis vulputate posuere. Donec et orci in ligula finibus fringilla. Curabitur aliquet tortor et diam placerat facilisis. Aliquam erat volutpat. Nullam mollis consectetur ipsum vel euismod. Donec scelerisque lacus sit amet elit gravida, in condimentum sem pharetra.

                p Nam ligula orci, dapibus et est id, molestie faucibus lorem. Morbi blandit faucibus tortor eu bibendum. Vivamus ac justo dignissim, condimentum elit at, lacinia quam. Mauris tristique urna sit amet mauris molestie, non laoreet quam vulputate. Mauris eget augue facilisis, euismod diam id, pretium dui. Integer dictum mi sit amet justo mattis, in iaculis justo venenatis. Donec vitae bibendum odio, vel efficitur ligula. 

                p Integer eleifend ante facilisis, aliquet nulla at, imperdiet lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur varius dapibus est tincidunt malesuada. Fusce nulla lectus, commodo id aliquam a, imperdiet nec ipsum. Aliquam sagittis erat lectus, id dapibus felis tristique ut. Sed ultrices sem commodo consectetur porttitor. In pharetra feugiat placerat. 
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 