*{
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
}

body {
    background: rgb(237, 216, 192);
}

/************MEDIA QUERIES**************/

/* TAMAÑO DE LA BARRA SEGÚN ANCHO DE PANTALLA */

@media screen and (max-width: 300px) {
    .lateral{
        width:100%;
        height: 22em;
    }
    
}

@media screen and (min-width: 301px) and (max-width: 570px) {
    .lateral{
        width:100%;
        height: 20em;
    }
    
}

/* PROPIEDADES DE CONTENIDO SEGÚN ANCHO DE PANTALLA */

@media screen and (max-width: 570px) {

    /* Contenedor sin barra */
    .contenedor{
        width: 100%;
    }

    /* Seccion */
    .seccion{
        text-align: center;
    }

    .listado_contenido,.listado_detalles{
        list-style-type:none;
        padding-left:0.2em;
        padding-right: 0.2em;
    }

    .receta__foto{
        width:100%;
        max-width: 20em;
        padding-top: 1em;
    }

}

@media screen and (min-width: 571px) and (max-height: 570px) {
    .lateral{
        width:100%;
        height: 15em;
    }

    /* Contenedor sin barra */
    .contenedor{
        width: 100%;
    }

    /* Seccion */
    .seccion{
        text-align: center;
    }

    .listado_contenido,.listado_detalles{
        list-style-type:none;
        padding-left:0.2em;
        padding-right: 0.2em;
    }

    .receta__foto{
        width:100%;
        max-width: 20em;
        padding-top: 1em;
    }
}

@media (min-width: 571px) and (min-height: 571px) {

    /* Posicion para barra lateral */
    .lateral{
        position: fixed;
        width:20%;
        height: 100%;
    }

    /* Contenedor sin barra */
    .contenedor{
        float: right;
        margin: 0.5em;
        width: 80%;
    }  
    
}

/* Contenedor sin barra */
.contenedor{
    padding-right: 1em;
    padding-left: 1em;
}

/* Descripcion */
.informacion{
    text-align: center;
}

.informacion__titulo {
    background: rgb(94, 50, 0);
    color: rgb(255, 255, 255);
}

/* Seccion */
.seccion{
    margin: 1em;
}

.titulo {
    color: rgb(94, 50, 0);
}

/* Contenido */
.referencia {
    line-height: 1.5em;
}

/* Recetas */
.receta__foto{
    width:100%;
    max-width: 20em;
    padding-top: 1em;
}

/* Columnas para las detalles y tabla */
.columnas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0,25em));
    justify-content: center;
    justify-items: center;
}

.receta__tabla,
th,
td {
    border: 1px solid rgb(94, 50, 0);
}

.tabla--encabezado{
    background-color: rgb(94, 50, 0);
    color: rgb(237, 216, 192);
}

.tabla--cuerpo{
    color:rgb(94, 50, 0);
}

td{
    padding: 0.5em;
}

/* Pasos */
.pasos{
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.0007em;
    padding-bottom: 0.0007em;
}

.paso {
    color: rgb(94, 50, 0);
}