body {
    background: #B3CFE6;
    background: -webkit-linear-gradient(to right, #025D8C, #B3CFE6);
    background: linear-gradient(to right, #025D8C, #B3CFE6);
    margin: 0%;
    color: white;
}

.container{
    background-color: #025D8C;
    padding: 4rem;
}

#formulario{
    color: black;
}

h1,
h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}

.borrar-tweet,
.borrar-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}