*{
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
}

body {
    background: rgb(227, 243, 255);
}

/************MEDIA QUERIES**************/

/* TAMAÑO DE LA BARRA SEGÚN ANCHO DE PANTALLA */

@media screen and (max-width: 300px) {
    .lateral{
        width:100%;
        height: 22em;
    }
    
}

@media screen and (min-width: 301px) and (max-width: 780px) {
    .lateral{
        width:100%;
        height: 20em;
    }
    
}

/* PROPIEDADES DE CONTENIDO SEGÚN ANCHO DE PANTALLA */

@media screen and (max-width: 780px) {

    /* Contenedor sin barra */
    .contenedor{
        width: 100%;
    }

    /* Seccion */
    .seccion{
        text-align: center;
    }

    .listado_contenido{
        list-style-type:none;
        padding-left:0.2em;
        padding-right: 0.2em;
    }

    /* Contenido */
    .referencia {
        line-height: 2.5em;
    }

}

@media (min-width: 780px) {

    /* Posicion para barra lateral */
    .lateral{
        position: fixed;
        width:20%;
        height: 100%;
    }

    /* Contenedor sin barra */
    .contenedor{
        float: right;
        margin: 0.5em;
        width: 80%;
    }  

    /* Entradas */
    .entradas{
        column-gap: 1%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0em,49%));
        justify-content: center;
    }

    /* Contenido */
    .referencia {
        line-height: 1.5em;
    }
    
}

/* Contenedor sin barra */
.contenedor{
    padding-right: 1em;
    padding-left: 1em;
}

/* Descripcion */
.informacion{
    text-align: center;
}

.informacion__titulo {
    font-family: "Courier New", monospace;
    font-size: 2.25em;
    color: rgb(0, 150, 145);
}

/* Seccion */
.seccion{
    margin: 1em;
}

.contenido__titulo {

    color: rgb(48, 77, 112);
    font-size: 1.25em;
}

/* Entradas */
.entradas{
    text-align: center;
}

.titulo {
    color: rgb(255, 255, 255);
    background: rgb(48, 77, 112);
    font-size: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.0007em;
    padding-bottom: 0.0007em;
}

.entrada__contenido{
    padding-right: 1em;
    padding-left: 1em;
}

.entrada__fecha {
    font-style: italic;
}

