#total {
    background-color: rgb(214, 235, 255);
    padding-top: 10px;
    height: 100%;
    z-index: 1;
}

#marco_invitacion {
    z-index: 2;
    width: 100%;
}

#titulo {
    color: rgb(0, 68, 120);
    font-size: 2.5em;
    font-family: "monotype corsiva", serif;
    text-align: center;
    z-index: 3;
}

#detalles {
    position: absolute;
    top: 100px;
    font-family: "Garamond", serif;
    margin-left: 65px;
    margin-right: 65px;
    font-weight: bold;
    z-index: 4;
}

#titulo_detalles {
    text-align: center;
    margin-top: 20%;
}

#taza {
    width: 30%;
    float: right;
}

.boton {
    font-family: "Garamond", serif;
    float: left;
    margin: 10%;
    background: rgb(0, 68, 120);
    color: rgb(255, 255, 255);
    padding: 5px;
    font-weight: bold;
}